<%= render 'rails_pulse/components/page_header' %>

<% unless turbo_frame_request? %>
  <div class="row">
    <%= render 'rails_pulse/components/metric_card', { class: "grid-item block", data: @average_response_times_metric_card } %>
    <%= render 'rails_pulse/components/metric_card', { class: "grid-item block", data: @percentile_response_times_metric_card } %>
    <%= render 'rails_pulse/components/metric_card', { class: "grid-item block", data: @request_count_totals_metric_card } %>
    <%= render 'rails_pulse/components/metric_card', { class: "grid-item block", data: @error_rate_per_route_metric_card } %>
  </div>
<% end %>

<%= render 'rails_pulse/components/panel', { title: 'Requests', } do %>
  <%= search_form_for @ransack_query, url: requests_path, class: "flex items-center justify-between gap mb-4", data: { controller: "rails-pulse--custom-range" } do |form| %>
    <div class="flex items-center grow gap">
      <%= time_range_selector(form,
        time_range_options: RailsPulse::RequestsController::TIME_RANGE_OPTIONS,
        selected_time_range: @selected_time_range,
        mode: :recent_custom
      ) %>

      <%= form.search_field :route_path_cont,
        placeholder: "Filter by route",
        autocomplete: "off",
        class: "input"
      %>

      <%= form.select :status_category_eq,
        [
          ["All statuses", ""],
          ["2xx Success", "2"],
          ["3xx Redirect", "3"],
          ["4xx Client Error", "4"],
          ["5xx Server Error", "5"]
        ],
        {},
        { class: "input" }
      %>

      <%= form.select :duration_gteq,
        duration_options(:request),
        { selected: @selected_response_range, prompt: "Min duration" },
        { class: "input" }
      %>

      <%= link_to "Reset", requests_path, class: "btn btn--borderless show@md" if params.has_key?(:q) %>
      <%= form.submit "Search", class: "btn show@sm" %>
    </div>
  <% end %>

  <% if @has_data %>
    <%= turbo_frame_tag :index_table do %>
      <%= render 'rails_pulse/requests/table' %>
    <% end %>
  <% else %>
    <%= render 'rails_pulse/components/empty_state',
        title: 'No request data found for the selected filters.',
        description: 'Try adjusting your time range or filters to see results.' %>
  <% end %>
<% end %>
