<%
  taggable_type = taggable.class.name.demodulize.underscore
  available_tags = RailsPulse.configuration.tags
  current_tags = taggable.tag_list
  available_to_add = available_tags - current_tags
%>

<div
  id="tag_manager_<%= taggable_type %>_<%= taggable.id %>"
  class="tag-manager"
>
  <div class="tag-list">
    <% current_tags.each do |tag| %>
      <span class="badge badge--secondary font-normal">
        <%= tag %>
        <%= button_to remove_tag_path(taggable_type, taggable.id, tag: tag),
              method: :delete,
              class: "tag-remove",
              data: {
                turbo_frame: "_top"
              } do %>
          <span aria-hidden="true">&times;</span>
        <% end %>
      </span>
    <% end %>

    <% if available_to_add.any? %>
      <div class="tag-add-container" data-controller="rails-pulse--popover" data-rails-pulse--popover-placement-value="bottom-start">
        <button
          type="button"
          id="tag_menu_button_<%= taggable_type %>_<%= taggable.id %>"
          class="badge badge--positive tag-add-button font-normal"
          data-rails-pulse--popover-target="button"
          data-action="rails-pulse--popover#toggle"
          aria-haspopup="true"
          aria-controls="tag_menu_<%= taggable_type %>_<%= taggable.id %>"
        >
          + tag
        </button>

        <div
          popover
          class="popover"
          style="--popover-size: 12rem;"
          data-rails-pulse--popover-target="menu"
        >
          <div
            id="tag_menu_<%= taggable_type %>_<%= taggable.id %>"
            class="menu"
            data-controller="rails-pulse--menu"
            data-action="keydown.up->rails-pulse--menu#prev keydown.down->rails-pulse--menu#next"
            role="menu"
            aria-labelledby="tag_menu_button_<%= taggable_type %>_<%= taggable.id %>"
          >
            <% available_to_add.each do |tag| %>
              <%= button_to add_tag_path(taggable_type, taggable.id, tag: tag),
                    method: :post,
                    class: "btn menu__item i-full",
                    data: {
                      turbo_frame: "_top",
                      rails_pulse__menu_target: "item"
                    },
                    style: "cursor: pointer;",
                    role: "menuitem" do %>
                <%= tag %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
